[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pre-commit = "*"
flake8 = "*"
mypy = "*"
black = "*"
pylint = "*"
pytest = "*"
fake-useragent = "*"
aiohttp = "*"
requests = "*"
asyncio = "*"
bs4 = "*"
mock = "*"
pytest-asyncio = "*"

[dev-packages]

[requires]
python_version = "3.11"
